:root {
    /*WoW colors from : https://pixelimperfectdotcom.wordpress.com/2013/09/05/all-world-of-warcraft-hex-color-codes/ */
    /*MISC*/
    --system: #FFFF00;
    /*CHAT*/
    --generalChat: #FEC1C0;
    /*ITEMS*/
    --poorItem: #889D9D;
    --commonItem: #FFFFFF;
    --uncommonItem: #1EFF0C;
    --rareItem: #0070FF;
    --epicItem: #A335EE;
    --legendaryItem: #FF8000;
}

.hover-grow {
    cursor: pointer;
}
.hover-grow:hover {
    transform: scale(105%);
}