@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
:root {
    /* COLORS FROM https://htmlcolorcodes.com/color-chart/flat-design-color-chart/ */
    --gold: #F7DC6F;
}
.pacifico {
    font-family: "Pacifico", cursive;
}
.btn-circle {
    border-radius: 100%;
    min-width: 45px;
    max-width: 45px;
    min-height: 45px;
    max-height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: unset;
}
.highlight-word {
    background-color: var(--gold);
}

.bg-violet {
    background-color: var(--violet);
}
#loader {
    min-height: 100vh;
}