@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
:root {
    /*WoW colors from : https://pixelimperfectdotcom.wordpress.com/2013/09/05/all-world-of-warcraft-hex-color-codes/ */
    /*MISC*/
    --system: #FFFF00;
    /*CHAT*/
    --generalChat: #FEC1C0;
    /*ITEMS*/
    --poorItem: #889D9D;
    --commonItem: #FFFFFF;
    --uncommonItem: #1EFF0C;
    --rareItem: #0070FF;
    --epicItem: #A335EE;
    --legendaryItem: #FF8000;
}
.pacifico {
    font-family: "Pacifico", cursive;
}
.btn-circle {
    border-radius: 100%;
    min-width: 45px;
    max-width: 45px;
    min-height: 45px;
    max-height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: unset;
}
.main-hero-container {

}